<div id="tcontents" class="absolute inset-0 h-screen w-sreen z-40 bg-stone-400/75"> 
  <div class="flex items-center justify-center w-full h-full">
    <div class="flex flex-col w-fit h-fit pl-8 pr-8 pb-12 pt-6 bg-white rounded-3xl">
      <div _="on click remove #tcontents"
      class="flex flex-row-reverse items-center">
	<p class="rounded-full text-center p-1 w-8 hover:cursor-pointer hover:bg-red-100 hover:text-red-600">X</p>
    </div>
    <h3>Table of Contents</h3>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/01_title/" hx-target="#content-body" hx-swap="innerHtml scroll:top">1 Title</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/02_forward/" hx-target="#content-body" hx-swap="innerHtml scroll:top">2 Forward</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/03_basics/" hx-target="#content-body" hx-swap="innerHtml scroll:top">3 The Basics</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/04_recognizing_poison_ivy/" hx-target="#content-body" hx-swap="innerHtml scroll:top">4 Recognizing Poison Ivy</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/05_how_poison_ivy_spreads/" hx-target="#content-body" hx-swap="innerHtml scroll:top">5 How Poison Ivy Spreads</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/06_what_a_well_dressed_hero_wears/" hx-target="#content-body" hx-swap="innerHtml scroll:top">6 What A Well Dressed Hero Wears</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/07_your_weapons/" hx-target="#content-body" hx-swap="innerHtml scroll:top">7 Your Weapons</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/08_first_objective/" hx-target="#content-body" hx-swap="innerHtml scroll:top">8 First Objective</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/09_trophy_hunting/" hx-target="#content-body" hx-swap="innerHtml scroll:top">9 Trophy Hunting</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/10_second_objective/" hx-target="#content-body" hx-swap="innerHtml scroll:top">10 Second Objective</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/11_third_objective/" hx-target="#content-body" hx-swap="innerHtml scroll:top">11 Third Objective</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/12_how_to_have_a_poison_ivy_rash/" hx-target="#content-body" hx-swap="innerHtml scroll:top">12 How To Have A Poison Ivy Rash</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/13_a_brief_aside/" hx-target="#content-body" hx-swap="innerHtml scroll:top">13 A Brief Aside</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/14_once_you_have_your_own_poison_ivy_problem_under_control/" hx-target="#content-body" hx-swap="innerHtml scroll:top">14 Once You Have Your Own Problem Under Control</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/15_appendix_1_answer_key/" hx-target="#content-body" hx-swap="innerHtml scroll:top">Appendix 1: Answer Key</p>
    <p class="rounded-full px-4 h-fit w-full hover:cursor-pointer hover:bg-amber-100 hover:text-amber-800"
      hx-get="/handbook/16_appendix_2_questions_to_ask/" hx-target="#content-body" hx-swap="innerHtml scroll:top">Appendix 2: Questions To Ask</p>
  </div>
  </div>
</div>
