<svg id="prev" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
  class="size-6 col-start-2 w-full h-3/4 rounded-full hover:bg-lime-100 hover:stroke-lime-700 hover:cursor-pointer"
  hx-swap-oob="true"
  hx-get="/handbook/10_second_objective/" hx-target="#content-body" hx-swap="innerHtml scroll:top">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
</svg>

<svg id="next" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
  class="size-6 col-start-1 w-full h-3/4 rounded-full hover:bg-lime-100 hover:stroke-lime-700 hover:cursor-pointer"
  hx-swap-oob="true"
  hx-get="/handbook/12_how_to_have_a_poison_ivy_rash/" hx-target="#content-body" hx-swap="innerHtml scroll:top">
  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
</svg>

<div id="content-title" class="col-start-1 row-start-2 row-span-1" hx-swap-oob="true">
  <h3>THIRD OBJECTIVE: CLEAN UP</h3>
</div>

<p>If you've gotten rid of all the reproducing vines and strongholds, your poison ivy problem is essentially reduced to maintenance - the equivalent of mowing your lawn, only with poison ivy. You haven't completely solved your problem, since any established plants just tend to keep coming back for several years before they eventually die. Even then, your problem remains, since the soil around any reproducing vines will still have literally hundreds of seeds in them. Beyond that, you still have a problem of birds bringing new seeds into your area. The price of poison ivy free is eternal vigilance. Besides, it is a good excuse for a walk in the woods.</p>
<br>
<br>
