<svg id="prev" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
  class="size-6 col-start-2 w-full h-3/4 rounded-full hover:bg-lime-100 hover:stroke-lime-700 hover:cursor-pointer"
  hx-swap-oob="true"
  hx-get="/handbook/14_once_you_have_your_own_poison_ivy_problem_under_control/" hx-target="#content-body" hx-swap="innerHtml scroll:top">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
</svg>

<svg id="next" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
  class="size-6 col-start-1 w-full h-3/4 rounded-full hover:bg-lime-100 hover:stroke-lime-700 hover:cursor-pointer"
  hx-swap-oob="true"
  hx-get="/handbook/16_appendix_2_questions_to_ask/" hx-target="#content-body" hx-swap="innerHtml scroll:top">
  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
</svg>

<div _="on load if #tcontents is not empty remove #tcontents" id="content-title" class="col-start-1 row-start-2 row-span-1" hx-swap-oob="true">
  <h3>APPENDIX 1 - SPOT THE POISON IVY ANSWER KEY</h3>
</div>

<img src="/img/1.jpg" alt="Spot the poison ivy" class="col-start-1 col-span-2">
<img src="/img/2.jpg" alt="Spot the poison ivy" class="col-start-1 col-span-2">
<img src="/img/3.jpg" alt="Spot the poison ivy" class="col-start-1 col-span-2">
<img src="/img/4.jpg" alt="Spot the poison ivy" class="col-start-1 col-span-2">
<img src="/img/5.jpg" alt="Spot the poison ivy" class="col-start-1 col-span-2">
<br>
<br>
