<svg id="prev" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
  class="size-6 col-start-2 w-full h-3/4 rounded-full hover:bg-lime-100 hover:stroke-lime-700 hover:cursor-pointer"
  hx-swap-oob="true"
  hx-get="/handbook/15_appendix_1_answer_key/" hx-target="#content-body" hx-swap="innerHtml scroll:top">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
</svg>

<svg id="next" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
  class="size-6 col-start-1 w-full h-3/4 rounded-full hover:bg-lime-100 hover:stroke-lime-700 hover:cursor-pointer"
  hx-swap-oob="true"
  hx-get="/handbook/16_appendix_2_questions_to_ask/" hx-target="#content-body" hx-swap="innerHtml scroll:top">
  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
</svg>

<div id="content-title" class="col-start-1 row-start-2 row-span-1" hx-swap-oob="true">
  <h3>APPENDIX 2 - QUESTIONS TO ASK</h3>
</div>

<p>You're volunteering to help someone deal with a poison ivy problem. What should you say to them? What should you ask?</p>
<ul>
  <li>Where should I not go?</li>
  <li>Are you good friends with your neighbors?</li>
  <li>Any dangers I should be aware of?</li>
  <li>How's your cell phone signal? (Check)</li>
  <li>Have you noticed any wasp nests in your area? (Look for them) Poisonous snakes? Venomous spiders? Revenuers? Some things you should communicate:</li>
  <li>You are doing this not for pay or any cash equivalent services. You're using your own tools and supplies. You would appreciate access to a bathroom and a source of drinking water.</li>
  <li>You assume the risk for your own activities. If you get bit by a copperhead, you would appreciate help getting to an ambulance, but then after that you wouldn't mind getting laughed at. You take a dim view of your host sneaking up behind you and whacking you upside the head with a two by four, only it is okay as long as he yells "mosquito" as he does it.</li>
  <li>You're not offering any guarantee that poison ivy won't come back. In fact, if there's a reproducing vine in the area, it will definitely grow back. You're here to get them started, but ultimately it’s their land and their problem.</li>
</ul>
<h4>NEW CONTACT:</h4>
<ul>
  <li>Where's the bathroom?</li>
  <li>Can I get someone to show me the prpertyline and anythign else i need to know about keeping self safe?</li>
  <li>How do you feel about Roundup?</li>
  <li>I'm going to leave the vines on the tree. Are you okay with that?</li>
  <li>Do you understand this is going to take years? If so, great; let’s get started....</li>
</ul>
<br>
<br>
