<svg id="prev" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
  class="size-6 col-start-2 w-full h-3/4 rounded-full hover:bg-lime-100 hover:stroke-lime-700 hover:cursor-pointer"
  hx-swap-oob="true"
  hx-get="/handbook/04_recognizing_poison_ivy/" hx-target="#content-body" hx-swap="innerHtml scroll:top">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
</svg>

<svg id="next" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
  class="size-6 col-start-1 w-full h-3/4 rounded-full hover:bg-lime-100 hover:stroke-lime-700 hover:cursor-pointer"
  hx-swap-oob="true"
  hx-get="/handbook/06_what_a_well_dressed_hero_wears/" hx-target="#content-body" hx-swap="innerHtml scroll:top">
  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
</svg>

<div id="content-title" class="col-start-1 row-start-2 row-span-1" hx-swap-oob="true">
  <h3>HOW POISON IVY SPREADS AND TAKES OVER</h3>
</div>

<p>Once you've learned to spot poison ivy, you need to learn to think like a poison ivy plant. Consider how it goes about its plan for world conquest.</p>
<p>Here's where it all begins: the seedling. It can show up anywhere, but seems to grow best around the edge of a forest in a spot with plenty of sunshine near trees that are waiting to be taken advantage of. It will grow throughout the summer, lose its leaves in the fall, and then go dormant in the winter. It will be ready to return in the spring.</p>
<p>Early in the spring, you will notice some shoots that start to develop the familiar leaves of three pattern. It is in a good position to catch the sunlight and shade the surrounding plants. As it grows, it either will develop into a small shrub (particularly if it had good sunlight) or will just form a patch of little stems. I've seen both. It's growing, but the most important growth is happening underground. It's sending out runners; the root will grow out until it sends out some new shoots about 1-2 feet away.</p>
<p>At first glance, this might appear to be a picture of isolated seedlings. Note, though, the even spacing between the plants. If you were to pull up one of the, you would find that they are all connected. These runners will keep spreading until you get a thick patch of poison ivy. Given time, it will eventually shade out the other plants in the area and become the dominant life form. Nasty, but that's not its real goal.</p>
<p>Aha, jackpot! The root has eventually found what it is really looking for - a tree to grow up on. Note that it isn't really hurting the tree (uncharacteristically benevolent for such a nasty plant); it is just using the tree trunk as a support in its effort to overshade and conquer the world. Seizing the high ground is a strategy as old as war itself. The vine will grow up quite high in the tree. Over time, the aerial root will grow quite thick and the branches extending out from it will grow quite large. It will resemble a tree on a tree.</p>
<p>Eventually, you will start getting berries. The poison ivy plant is now a reproducing vine. When those green berries turn white, they are ripe. Many will just drop off, scattering seeds in the surrounding area to further saturate it with new plants to eliminate the competition. Some of the berries are eaten by birds; the seed passes through the bird’s digestive tract and then is planted splat along with fertilizer at a place quite far from the original plant. New worlds, just waiting to be conquered. And so the pattern begins again. And again and again. Just when all hope seems lost and the world looks doomed, a hero shows up. You. Cure the theme music. It's time to get to work.</p>
<br>
<br>
