<svg id="prev" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
  class="size-6 col-start-2 w-full h-3/4 rounded-full hover:bg-lime-100 hover:stroke-lime-700 hover:cursor-pointer"
  hx-swap-oob="true"
  hx-get="/handbook/01_title/" hx-target="#content-body" hx-swap="innerHtml scroll:top">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
</svg>

<svg id="next" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
  class="size-6 col-start-1 w-full h-3/4 rounded-full hover:bg-lime-100 hover:stroke-lime-700 hover:cursor-pointer"
  hx-swap-oob="true"
  hx-get="/handbook/02_forward/" hx-target="#content-body" hx-swap="innerHtml scroll:top">
  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
</svg>

<div id="content-title" class="col-start-1 row-start-2 row-span-1" hx-swap-oob="true">
</div>

<br>
<h1>The Poison Ivy Slayer's Handbook</h1>
<h2>by Bland Pseudonym</h2>
<h3>Second Edition</h3>
<br>
<br>
<p class="text-center">Copyright 2024 by the author<br>Permission is hereby granted to make unmodified copies of this entire document and distribute them.<br>All other rights reserved.<br>Dedicated to my father. If you keep reading, you'll find out why.<br></p>
